.section-header__desc {
  margin: 40px 0 0;
  padding: 0 134px;
  font-size: 15px;
  line-height: 24px;
  color: $c-text;
  font-family: 'Roboto', sans-serif;
  font-weight: $f-regular;
  text-align: center;
}