html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Playfair Display', sans-serif;
  color: #626262;
  font-size: 14px;
  line-height: 21px;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
}

.header {
  padding: 74px 0;
}

.nav {
  padding: 0 164px;
}

.nav-list {
  padding: 0;
  margin: 0;
  font-size: 0;
  text-align: center;
  list-style: none;
}

.nav-list li {
  display: inline-block;
  vertical-align: middle;
}

.nav-list li a {
  display: block;
  padding: 0 38px;
  font-size: 14px;
  font-family: 'Playfair Display', sans-serif;
  color: #626262;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-list li a:hover,
.nav-list li a:focus {
  color: #03a9f4;
}

.main {
  margin: 22px 0 0;
}

.articles {
  padding: 0 0 70px;
  font-size: 0;
}

.articles-list {
  margin: 0 0 46px;
  padding: 0;
  list-style: none;
}

.articles-list li {
  display: inline-block;
  width: 420px;
  margin-bottom: 128px;
}

.articles-list li:nth-child(odd) {
  margin-right: 60px;
}

.articles-list li:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

.article__img {
  margin: 0 0 28px;
}

.article__desc {
  margin: 0 0 24px;
  font-size: 14px;
  color: #b4ad9e;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
}

.article__head {
  margin: 0 0 36px;
  font-family: 'Playfair Display', sans-serif;
  color: #626262;
  font-size: 30px;
}

.article__text {
  margin: 0;
  font-family: 'Playfair Display', sans-serif;
  color: #626262;
  font-size: 14px;
  line-height: 24px;
}

.btn {
  display: block;
  margin: 0 auto;
  padding: 18px 32px;
  font-family: 'Playfair Display', sans-serif;
  color: #626262;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  border: 1px solid #626262;
  background-color: transparent;
  cursor: pointer;
}

.btn::first-letter {
  text-transform: capitalize;
}

.btn:hover,
.btn:focus {
  background-color: #626262;
  color: #fff;
}