.header-head__subtitle {
  display: inline-block;
  margin-bottom: 34px;
  color: $c-white;
  font-size: 72px;
  font-family: 'Kaushan Script', sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}