.team-box__head {
  position: relative;
  z-index: 2;
  margin: 0 0 8px;
  font-size: 14px;
  color: $c-head;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
}
