.form__btn {
  height: 40px;
  padding: 0 32px;
  font-size: 14px;
  color: $c-white;
  font-family: 'Montserrat', sans-serif;
  font-weight: $f-bold;
  text-transform: uppercase;
  background-color: $c-main;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 200ms linear;

  &:hover {
    background-color: $c-yellow;
  }
}