.social-list__item {
  &:not(:last-child) {
    margin-right: 1px;
  }

  &.item-1 {
    opacity: 0;
    transform: translateX(-40px);
    transition: all 200ms linear 400ms;
  }

  &.item-2 {
    opacity: 0;
    transform: translateX(-40px);
    transition: all 200ms linear 200ms;
  }

  &.item-3 {
    opacity: 0;
    transform: translateX(40px);
    transition: all 200ms linear 200ms;
  }

  &.item-4 {
    opacity: 0;
    transform: translateX(40px);
    transition: all 200ms linear 400ms;
  }
}


