.header {
  min-height: 100vh;
  background-image: linear-gradient(rgba(243, 129, 129, .9), rgba(252, 227, 138, .9)), url('../../img/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: linear-gradient(rgba(243, 129, 129, .9), rgba(252, 227, 138, .9)), url('../../img/header-bg@2x.jpg');
  }
}